In [1]:
import pandas as pd
import numpy as np
import warnings, random
warnings.filterwarnings(action='ignore')
import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.metrics import log_loss
from sklearn.preprocessing import StandardScaler
from category_encoders.ordinal import OrdinalEncoder
from sklearn.model_selection import StratifiedKFold

from sklearn.cluster import KMeans
from catboost import CatBoostClassifier, Pool

from sklearn.model_selection import StratifiedKFold,train_test_split

# Load Data

In [2]:
train=pd.read_csv('train2.csv')
test=pd.read_csv('test2.csv')

In [3]:
train.head()

,Unnamed: 0,id,gender,car,reality,child_num,income_total,income_type,edu_type,family_type,...,email,occyp_type,family_size,begin_month,credit,YEARS_BIRTH,Age_group,YEARS_EMPLOYED,EMPLOYED_group,income_avg
0,0,F138994709202500,F,N,N,0,3948.75,Commercial associate,Higher education,Married,...,0,NaN,2.0,6.0,1.0,39,30,12,10~20,1974.375
1,1,F113801540247500,F,N,Y,1,4826.25,Commercial associate,Secondary / secondary special,Civil marriage,...,1,Laborers,3.0,5.0,1.0,32,30,4,1~5,1608.750
2,2,M190874434450000,M,Y,Y,0,8775.00,Working,Higher education,Married,...,0,Managers,2.0,22.0,2.0,53,50,12,10~20,4387.500
3,3,F150882092202500,F,N,Y,0,3948.75,Commercial associate,Secondary / secondary special,Married,...,0,Sales staff,2.0,37.0,0.0,42,40,5,5~10,1974.375
4,4,F150372105157500,F,Y,Y,0,3071.25,State servant,Higher education,Married,...,0,Managers,2.0,26.0,2.0,42,40,5,5~10,1535.625

In [4]:
train.drop(['Unnamed: 0'],axis=1,inplace=True)
train.head()

,id,gender,car,reality,child_num,income_total,income_type,edu_type,family_type,house_type,...,email,occyp_type,family_size,begin_month,credit,YEARS_BIRTH,Age_group,YEARS_EMPLOYED,EMPLOYED_group,income_avg
0,F138994709202500,F,N,N,0,3948.75,Commercial associate,Higher education,Married,Municipal apartment,...,0,NaN,2.0,6.0,1.0,39,30,12,10~20,1974.375
1,F113801540247500,F,N,Y,1,4826.25,Commercial associate,Secondary / secondary special,Civil marriage,House / apartment,...,1,Laborers,3.0,5.0,1.0,32,30,4,1~5,1608.750
2,M190874434450000,M,Y,Y,0,8775.00,Working,Higher education,Married,House / apartment,...,0,Managers,2.0,22.0,2.0,53,50,12,10~20,4387.500
3,F150882092202500,F,N,Y,0,3948.75,Commercial associate,Secondary / secondary special,Married,House / apartment,...,0,Sales staff,2.0,37.0,0.0,42,40,5,5~10,1974.375
4,F150372105157500,F,Y,Y,0,3071.25,State servant,Higher education,Married,House / apartment,...,0,Managers,2.0,26.0,2.0,42,40,5,5~10,1535.625

In [5]:
test.drop(['Unnamed: 0'],axis=1,inplace=True)
test.head()

,id,gender,car,reality,child_num,income_total,income_type,edu_type,family_type,house_type,...,phone,email,occyp_type,family_size,begin_month,YEARS_BIRTH,Age_group,YEARS_EMPLOYED,EMPLOYED_group,income_avg
0,M219900112500,M,Y,N,0,2193.750,Pensioner,Secondary / secondary special,Civil marriage,House / apartment,...,1,0,No work experience,2.0,60.0,61,60,No work experience,No work experience,1096.875
1,F189648671135000,F,N,Y,0,2632.500,State servant,Higher education,Married,House / apartment,...,1,0,Core staff,2.0,36.0,52,50,23,20~30,1316.250
2,F1588721769372,F,N,Y,0,1352.754,Working,Secondary / secondary special,Married,House / apartment,...,1,0,Laborers,2.0,40.0,44,40,0,~1,676.377
3,M192702531112500,M,Y,N,0,2193.750,Commercial associate,Secondary / secondary special,Married,House / apartment,...,0,0,Drivers,2.0,41.0,53,50,6,5~10,1096.875
4,F178229385225000,F,Y,Y,0,4387.500,State servant,Higher education,Married,House / apartment,...,0,0,Managers,2.0,8.0,49,40,25,20~30,2193.750

In [6]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26440 entries, 0 to 26439
Data columns (total 22 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   id              26440 non-null  object
 1   gender          26440 non-null  object
 2   car             26440 non-null  object
 3   reality         26440 non-null  object
 4   child_num       26440 non-null  int64
 5   income_total    26440 non-null  float64
 6   income_type     26440 non-null  object
 7   edu_type        26440 non-null  object
 8   family_type     26440 non-null  object
 9   house_type      26440 non-null  object
 10  work_phone      26440 non-null  int64
 11  phone           26440 non-null  int64
 12  email           26440 non-null  int64
 13  occyp_type      22707 non-null  object
 14  family_size     26440 non-null  float64
 15  begin_month     26440 non-null  float64
 16  credit          26440 non-null  float64
 17  YEARS_BIRTH     26440 non-null  int64
 18  Age_group       26440 non-null  int64
 19  YEARS_EMPLOYED  26440 non-null  object
 20  EMPLOYED_group  26440 non-null  object
 21  income_avg      26440 non-null  float64
dtypes: float64(5), int64(6), object(11)
memory usage: 4.4+ MB

# category / numerical columns

In [7]:
drop_c=['work_phone','phone','email','YEARS_EMPLOYED','id']
train.drop(drop_c,axis=1,inplace=True)
test.drop(drop_c,axis=1,inplace=True)

In [8]:
numerical_feats = train.dtypes[train.dtypes != "object"].index.tolist()
numerical_feats.remove('credit')
print("Number of Numerical features: ", len(numerical_feats))

categorical_feats = train.dtypes[train.dtypes == "object"].index.tolist()
print("Number of Categorical features: ", len(categorical_feats))

Number of Numerical features:  7
Number of Categorical features:  9

In [9]:
numerical_feats

['child_num',
 'income_total',
 'family_size',
 'begin_month',
 'YEARS_BIRTH',
 'Age_group',
 'income_avg']

In [10]:
categorical_feats

['gender',
 'car',
 'reality',
 'income_type',
 'edu_type',
 'family_type',
 'house_type',
 'occyp_type',
 'EMPLOYED_group']

In [14]:
col=train.dtypes.index.tolist()

In [19]:
print(list(train['gender'].value_counts().index))

['F', 'M']

In [24]:
for i in col:
    print(list(train[i].value_counts().index))
    #print(f'{i} 컬럼 항목은 : {list(train[i].value_counts().index)} 입니다.')

['F', 'M']
['N', 'Y']
['Y', 'N']
[0, 1, 2, 3, 4, 5]
[2632.5, 3071.25, 3510.0, 2193.75, 4387.5, 3948.75, 1755.0, 5265.0, 6142.5, 1316.25, 4826.25, 7020.0, 5703.75, 2457.0, 1579.5, 2369.25, 2808.0, 1930.5, 8775.0, 1491.75, 2018.25, 4212.0, 6581.25, 7897.5, 2895.75, 2281.5, 3334.5, 3246.75, 2106.0, 3159.0, 1404.0, 3685.5, 3773.25, 1842.75, 2544.75, 4563.0, 2983.5, 1053.0, 7458.75, 2720.25, 4914.0, 877.5, 13162.5, 4124.25, 4036.5, 10530.0, 3422.25, 1667.25, 5089.5, 5967.0, 3861.0, 3597.75, 1228.5, 5001.75, 1140.75, 8336.25, 965.25, 4650.75, 7634.25, 4738.5, 5177.25, 5791.5, 9652.5, 4475.25, 10968.75, 6318.0, 7546.5, 17550.0, 6844.5, 789.75, 5528.25, 4299.75, 12285.0, 5440.5, 1096.875, 6405.75, 2325.375, 6493.5, 5352.75, 2149.875, 3615.3, 6054.75, 3264.3, 15795.0, 614.25, 5879.25, 11407.5, 8687.25, 14040.0, 5616.0, 1184.625, 7283.25, 2386.8, 921.375, 11934.0, 7371.0, 9213.75, 2237.625, 2413.125, 3027.375, 1447.875, 2562.3, 1430.325, 1272.375, 649.35, 10924.875, 745.875, 8950.5, 1772.55, 4343.625, 2342.925, 6932.25, 1623.375, 1974.375, 10091.25, 12021.75, 5221.125, 2621.18025, 8248.5, 6669.0, 719.55, 4975.425, 4018.95, 14478.75, 15356.25, 1535.625, 7722.0, 14917.5, 7195.5, 915.49575, 2737.8, 570.375, 12723.75, 8599.5, 6756.75, 1456.65, 1105.65, 7028.775, 1869.075, 9038.25, 991.575, 4694.625, 3712.79025, 2606.175, 3659.175, 3290.625, 4966.65, 737.1, 3474.9, 4062.825, 3439.8, 7107.75, 1904.175, 2211.3, 18427.5, 702.0, 6361.875, 3492.45, 1421.55, 2939.625, 9634.95, 3435.4125, 2588.625, 2506.57875, 2764.125, 3229.2, 3115.125, 2248.155, 1360.125, 1352.754, 19305.0, 3339.5895, 2518.425, 1553.175, 8160.75, 2746.575, 3834.675, 741.4875, 2263.95, 1221.74325, 2581.254, 3141.45, 2851.875, 8073.0, 1177.34175, 631.8, 11846.25, 895.05, 3378.375, 2307.825, 13968.30825, 1605.825, 1711.125, 4168.125, 9126.0, 2711.475, 587.925, 2334.15, 4949.1, 4519.125, 2274.74325, 2377.05975, 3483.675, 2062.125, 1307.475, 12372.75, 526.5, 2790.45, 3320.89875, 4194.45, 3590.64225, 10354.5, 3466.125, 2869.425, 8424.0, 3220.425, 1784.835, 4565.6325, 3495.7845, 868.725, 1948.05, 13601.25, 1905.7545, 4431.375, 2834.325, 614.86425, 5023.6875, 11583.0, 2421.9, 2632.41225, 754.65, 1206.5625, 3992.625, 658.125, 772.2, 3729.375, 1210.95, 3431.025, 4870.125, 2948.4, 12899.25, 1798.875, 1114.425, 1705.24575, 1009.125, 3738.15]
['Working', 'Commercial associate', 'Pensioner', 'State servant', 'Student']
['Secondary / secondary special', 'Higher education', 'Incomplete higher', 'Lower secondary', 'Academic degree']
['Married', 'Single / not married', 'Civil marriage', 'Separated', 'Widow']
['House / apartment', 'With parents', 'Municipal apartment', 'Rented apartment', 'Office apartment', 'Co-op apartment']
['Laborers', 'No work experience', 'Core staff', 'Sales staff', 'Managers', 'Drivers', 'High skill tech staff', 'Accountants', 'Medicine staff', 'Cooking staff', 'Security staff', 'Cleaning staff', 'Private service staff', 'Low-skill Laborers', 'Waiters/barmen staff', 'Secretaries', 'Realty agents', 'HR staff', 'IT staff']
[2.0, 1.0, 3.0, 4.0, 5.0, 6.0, 7.0]
[7.0, 11.0, 8.0, 3.0, 10.0, 6.0, 5.0, 14.0, 16.0, 17.0, 12.0, 9.0, 13.0, 4.0, 15.0, 20.0, 39.0, 25.0, 24.0, 18.0, 23.0, 19.0, 22.0, 27.0, 2.0, 26.0, 28.0, 21.0, 29.0, 30.0, 31.0, 38.0, 40.0, 35.0, 1.0, 34.0, 32.0, 33.0, 43.0, 42.0, 41.0, 36.0, 37.0, 47.0, 51.0, 45.0, 46.0, 48.0, 44.0, 50.0, 52.0, 49.0, 53.0, 55.0, 54.0, 56.0, 58.0, 59.0, 60.0, 0.0, 57.0]
[2.0, 1.0, 0.0]
[38, 28, 41, 29, 40, 35, 33, 42, 34, 39, 43, 36, 44, 31, 32, 37, 45, 47, 30, 48, 49, 52, 55, 58, 51, 60, 61, 57, 46, 54, 59, 50, 53, 56, 63, 64, 62, 27, 65, 26, 25, 66, 67, 24, 23, 68, 69, 22]
[30, 40, 50, 60, 20]
['1~5', '5~10', 'No work experience', '10~20', '~1', '20~30', '30~']
[1316.25, 1755.0, 877.5, 2193.75, 1096.875, 2632.5, 1535.625, 3071.25, 1974.375, 3510.0, 658.125, 4387.5, 3948.75, 1023.75, 1462.5, 731.25, 1170.0, 2413.125, 5265.0, 789.75, 438.75, 1228.5, 2851.875, 1404.0, 548.4375, 1184.625, 965.25, 702.0, 585.0, 767.8125, 2106.0, 1579.5, 4826.25, 526.5, 745.875, 2457.0, 1009.125, 1053.0, 1140.75, 2047.5, 6142.5, 987.1875, 2340.0, 3290.625, 1491.75, 614.25, 1842.75, 2018.25, 1447.875, 1930.5, 1667.25, 2281.5, 1901.25, 1608.75, 5703.75, 921.375, 2983.5, 1272.375, 7020.0, 2369.25, 6581.25, 8775.0, 1623.375, 2808.0, 482.625, 3729.375, 2544.75, 833.625, 819.0, 1886.625, 3773.25, 1711.125, 1360.125, 394.875, 643.5, 2062.125, 2925.0, 2895.75, 1798.875, 4212.0, 936.0, 497.25, 3334.5, 592.3125, 329.0625, 570.375, 2325.375, 5791.5, 2500.875, 351.0, 1082.25, 3246.75, 1645.3125, 2149.875, 1521.0, 1206.5625, 7458.75, 760.5, 263.25, 1425.9375, 3685.5, 2237.625, 2588.625, 372.9375, 3202.875, 2720.25, 811.6875, 3656.25, 292.5, 3159.0, 680.0625, 1111.5, 636.1875, 3817.125, 4914.0, 2676.375, 2778.75, 504.5625, 1257.75, 672.75, 1374.75, 12285.0, 3861.0, 307.125, 9652.5, 723.9375, 5089.5, 4563.0, 1632.15, 416.8125, 3422.25, 906.75, 4168.125, 555.75, 7897.5, 7634.25, 460.6875, 1638.0, 4124.25, 4475.25, 491.4, 4036.5, 10530.0, 1287.0, 1162.6875, 2764.125, 6844.5, 5967.0, 468.0, 2515.5, 2939.625, 1382.0625, 1345.5, 14040.0, 1193.4, 2164.5, 4738.5, 848.25, 5484.375, 365.625, 5440.5, 2171.8125, 403.65, 409.5, 3027.375, 4343.625, 5850.0, 3597.75, 4095.0, 1294.3125, 1281.15, 210.6, 2084.0625, 1074.9375, 357.58125, 5001.75, 285.1875, 5177.25, 886.275, 1550.25, 8336.25, 5462.4375, 3217.5, 6493.5, 2310.75, 1031.0625, 1989.0, 4007.25, 899.4375, 8248.5, 868.725, 1696.5, 7283.25, 6669.0, 3615.3, 2610.5625, 6318.0, 4299.75, 2621.18025, 324.675, 6054.75, 511.875, 775.125, 943.3125, 359.775, 915.49575, 579.15, 1725.75, 14478.75, 1864.6875, 5616.0, 296.15625, 2009.475, 4606.875, 1513.6875, 728.325, 2427.75, 7678.125, 2486.25, 547.5600000000001, 12723.75, 1205.1, 552.825, 2487.7125, 855.5625, 3514.3875, 1856.395125, 3378.375, 2347.3125, 3553.875, 1241.6625, 1904.175, 1469.8125, 564.1071428571429, 7546.5, 2342.925, 1719.9, 315.9, 2031.4125, 3659.175, 219.375, 934.5375, 3180.9375, 1813.5, 4519.125, 147.42000000000002, 5045.625, 1105.65, 9213.75, 495.7875, 1926.99, 1717.70625, 1746.225, 2303.4375, 1124.0775, 1807.65, 915.525, 710.775, 380.25, 2506.57875, 234.0, 473.85, 776.5875, 3229.2, 175.5, 676.377, 2518.425, 4080.375, 1038.375, 1669.79475, 780.975, 5528.25, 8687.25, 13968.30825, 950.625, 1290.627, 653.7375, 1917.3375, 1177.34175, 1199.25, 994.5, 895.05, 3474.9, 2574.0, 401.45625, 5923.125, 216.45, 8073.0, 1042.03125, 1137.371625, 13162.5, 1131.975, 778.0500000000001, 903.825, 1506.375, 1395.225, 2474.55, 293.9625, 6186.375, 1570.725, 370.74375, 1689.1875, 10091.25, 1221.74325, 4680.0, 1188.529875, 3483.675, 228.15, 434.3625, 4870.125, 230.34375, 2282.81625, 1000.35, 1165.2615, 15795.0, 1660.449375, 717.35625, 1610.2125, 17550.0, 687.375, 424.125, 4533.75, 307.432125, 1784.835, 1795.321125, 1948.05, 576.95625, 1733.0625, 2215.6875, 2097.225, 453.375, 1905.7545, 666.9, 3992.625, 603.28125, 377.325, 877.47075, 386.1, 605.475, 1715.5125, 852.622875, 944.775, 807.3000000000001, 2948.4, 6449.625, 11583.0, 698.49, 8599.5, 4972.5, 769.275, 804.375, 1114.425, 6756.75, 2511.84375, 1869.075]

# Data scaling

## income -> log scale

In [ ]:
for df in [train,test]:
    df['income_total'] = np.log1p(1+df['income_total'])

## Ordinal Encoder

In [ ]:
encoder = OrdinalEncoder(categorical_feats)
train[categorical_feats] = encoder.fit_transform(train[categorical_feats], train['credit'])
test[categorical_feats] = encoder.transform(test[categorical_feats])

#train['id'] = train['id'].astype('int64')
#test['id'] = test['id'].astype('int64')

## Clustering

In [ ]:
kmeans_train = train.drop(['credit'], axis=1)
kmeans = KMeans(n_clusters=36, random_state=42).fit(kmeans_train)
train['cluster'] = kmeans.predict(kmeans_train)
test['cluster'] = kmeans.predict(test)

## StandardScaler

In [ ]:
numerical_feats.remove('income_total')
scaler = StandardScaler()
train[numerical_feats] = scaler.fit_transform(train[numerical_feats])
test[numerical_feats] = scaler.transform(test[numerical_feats])

In [ ]:
train.info()

In [ ]:
train.head()

# MODELING

## CatBoostClassifier

In [ ]:
seed = 42
#n_fold_list = list(range(7,16,1))
n_fold_list = [14]
n_class = 3

target = 'credit'
X = train.drop(target, axis=1)
y = train[target]
X_test = test

In [ ]:
for n_fold in n_fold_list:
    print('***',n_fold,'***')

    skfold = StratifiedKFold(n_splits=n_fold, shuffle=True, random_state=seed)
    folds=[]
    for train_idx, valid_idx in skfold.split(X, y):
            folds.append((train_idx, valid_idx))

    cat_pred = np.zeros((X.shape[0], n_class))
    cat_pred_test = np.zeros((X_test.shape[0], n_class))
    cat_cols = ['gender', 'car', 'reality', 'income_type', 'edu_type', 'family_type', 'house_type', 'occyp_type', 'EMPLOYED_group']
    #cat_cols = ['id',  'reality', 'income_type', 'edu_type', 'family_type', 'house_type', 'occyp_type', 'YEARS_EMPLOYED']
    for fold in range(n_fold):
        print(f'\n----------------- Fold {fold} -----------------\n')
        train_idx, valid_idx = folds[fold]
        X_train, X_valid, y_train, y_valid = X.iloc[train_idx], X.iloc[valid_idx], y[train_idx], y[valid_idx]
        train_data = Pool(data=X_train, label=y_train, cat_features=cat_cols)
        valid_data = Pool(data=X_valid, label=y_valid, cat_features=cat_cols)

        model_cat = CatBoostClassifier()
        model_cat.fit(train_data, eval_set=valid_data, use_best_model=True, early_stopping_rounds=100, verbose=100)

        cat_pred[valid_idx] = model_cat.predict_proba(X_valid)
        cat_pred_test += model_cat.predict_proba(X_test) / n_fold
        print(f'CV Log Loss Score: {log_loss(y_valid, cat_pred[valid_idx]):.6f}')
        
    print(f'\t<*><*><*><*><*><*>Log Loss: {log_loss(y, cat_pred):.6f}<*><*><*><*><*><*>\n\n\n\n')

In [ ]:
def plot_feature_importance(importance,names,model_type):
    
    feature_importance = np.array(importance)
    feature_names = np.array(names)
    
    data={'feature_names':feature_names,'feature_importance':feature_importance}
    fi_df = pd.DataFrame(data)
    
    fi_df.sort_values(by=['feature_importance'], ascending=False,inplace=True)

    plt.figure(figsize=(10,8))

    sns.barplot(x=fi_df['feature_importance'], y=fi_df['feature_names'])

    plt.title(model_type + ' Feature Importance')
    plt.xlabel('Feature Importance')
    plt.ylabel('Feature Names')

In [ ]:
plot_feature_importance(model_cat.get_feature_importance(),X_test.columns,'CATBOOST')

In [ ]:
# sub = pd.read_csv('./data/sample_submission.csv')
# sub.iloc[:, 1:] = cat_pred_test
# sub

In [ ]:
# sub.to_csv('submission0523_Final.csv', index=False)